{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email sent</title>
    <link rel="stylesheet" href="{% static 'css/sent.css' %}">
</head>
<body class="container">
<div style="border: 2px; background: #ACFADF; padding: 20px; border-radius: 5px; margin-bottom: 250px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); height: 155px;">
<p>We have emailed you to change your password</p>
<p>Make sure you've entered the email you have registered with</p>
<p>Check your email, then try again <br><button style="padding: 10px; margin-top: 20px; border-radius: 6px;"><a href="{% url 'login' %}">Log in</a></button></p>
</div>
</body>
</html>
